{% extends "bt_base.html" %}
{% block title %}Register - Voter{% endblock %}
{% block main_content %}
<div class="container">
    <h1 class="page-header">
        Sign up
    </h1>
    <form method="post" action="/register/" role="form">
        {% csrf_token %}
        <div class="row">
            <div class="{{field_class}}">
                <div class="form-group">
                    <label for="usr"><span class="glyphicon glyphicon-asterisk" style="color:red;"></span> Username:</label>
                    {% if username %}
                    <input type="text" class="form-control" name="username" id="usr" value="{{ username }}" />
                    {% else %}
                    <input type="text" class="form-control" name="username" id="usr" />
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="{{field_class}}">
                <div class="form-group">
                    <label for="pwd"><span class="glyphicon glyphicon-asterisk" style="color:red;"></span> Password:</label>
                    <input type="password" class="form-control" name="password" id="pwd">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="{{field_class}}">
                <div class="form-group">
                    <label for="rpwd"><span class="glyphicon glyphicon-asterisk" style="color:red;"></span> Repeat password:</label>
                    <input type="password" class="form-control" name="repeat_password" id="rpwd">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="{{field_class}}">
                <div class="form-group">
                    <label for="eml"><span class="glyphicon glyphicon-asterisk" style="color:red;"></span> E-mail:</label>
                    {% if email %}
                    <input type="text" class="form-control" name="email" id="eml" value="{{email}}">
                    {% else %}
                    <input type="text" class="form-control" name="email" id="eml">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="{{field_class}}">
                <div class="form-group">
                    <label for="fst_nm">First name:</label>
                    {% if first_name %}
                    <input type="text" class="form-control" name="first_name" id="fst_nm" value="{{first_name}}">
                    {% else %}
                    <input type="text" class="form-control" name="first_name" id="fst_nm">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="{{field_class}}">
                <div class="form-group">
                    <label for="lst_nm">Last name:</label>
                    {% if last_name %}
                    <input type="text" class="form-control" name="last_name" id="lst_nm" value="{{last_name}}">
                    {% else %}
                    <input type="text" class="form-control" name="last_name" id="lst_nm">
                    {% endif %}
                </div>
            </div>
        </div>
        {% for error in errors %}
            <div class="alert alert-{{ error.alert_type }}" role="alert">
                {% autoescape off %}{{ error }}{% endautoescape %}
            </div>
        {% empty %}
            <p class="text">Already have <i>Voter</i> account? <a href="/login/">Log in</a>.</p>
        {% endfor %}
        <div class="row">
            <div class="{{field_class}}">
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
