{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8" />
<link http-equiv="X-UA-Compatible" content="IE=edge">
<!-- client-side scripting -->
<script type="text/javascript" src="{% static "js/jquery-2.2.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<!-- styles -->
<link rel="stylesheet" href="{% static "style/bootstrap.min.css" %}" />
<script type="text/javascript" src="{% static "js/app.js" %}"></script>