{% if pager %}
{% if upper_count %}
<div class="text-left">Page <b>{{pager.page_number|add:1}}/{{pager|length}}</b></div>
<br>
{% endif %}
<ul class="pager">
    {% if pager.page_number != 0 %}
    <li class="previous"><a href="{{pager.urls.previous}}">Previous</a></li>
    {% else %}
    <!--<li class="previous disabled">Previous</li>-->
    {% endif %}
    {% if pager.page_number < pager|length|add:-1 %}
    <li class="next"><a href="{{pager.urls.next}}">Next</a></li>
    {% else %}
    <!--<li class="next disabled">Next</li>-->
    {% endif %}
</ul>
{% if lower_count %}
<div class="text-left">Page <b>{{pager.page_number|add:1}}/{{pager|length}}</b></div>
<br>
{% endif %}
{% endif %}