{% for term in terms %}
    <div class="panel panel-default" >
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
                    <h3>
                        <a href="/terms/{{ term.id }}">
                            {{ term.name }}
                        </a>
                        <br>
                        <small>
                            <a class="text text-muted" href="/search/?category={{term.category.id}}">
                                {{ term.category }}
                            </a>
                        </small>
                    </h3>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="text text-right">
                        {% include "term_origin.html" with user=term.user %}
                        {% if enable_confirm_link %}
                        <form action="/terms/{{term.id}}/confirm/" method="post">
                            {% csrf_token %}
                            <button class="btn btn-success" type="submit">
                                Confirm
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
