<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "style/style.css" %}" />
    <script type="text/javascript" src="{% static "js/jquery-1.2.6.js" %}"></script>
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    <!-- <script type="text/javascript" src="{% static "js/search.js" %}"></script> -->
    {% block optional_header %}{% endblock %}
</head>
<body class="body">
    <header class="mainHeader">
        <!-- <img src="{% static "img/logo.png" %}" /> -->
        <nav>
            {% block navigation %}{% endblock %}
        </nav>
    </header>

    <div class="mainContent">
        <div class="content">
            {% block mainContent %}{% endblock %}
        </div>
    </div>

    {% block sidebars %}{% endblock %}

    <footer class="mainFooter">
        <p>Copyright &copy; 2015</p>
    </footer>
</body>
</html>
