<form method="post" action="{% url 'orders.views.confirmation' %}">
{% csrf_token %}
    <table>
        <tr>
            <td>
                Логин
            </td>
            <td>
                <input type="text" name="username" placeholder="ваш персональный" />
            </td>
        </tr>
        <tr>
            <td>
                Пароль
            </td>
            <td>
                <input type="password" name="password" placeholder="не менее 8 символов" />
            </td>
        </tr>
    </table>

    <input type="submit" value="Войти" />
</form>