<article class="topContent">
<header>
    <h2>{{ order.quick_description }}</h2>
</header>

<footer>
    <p class="post-info">опубликовано {{ order.post_date }}</p>
    {% if order.end_date %}
        <p class="post-info">актуально до {{ order.end_date }}</p>
    {% endif %}
    {% if order.is_done %}
        <p class="post-info">выполнено {{ order.done_date }}</p>
    {% endif %}
</footer>

<content>
    <b>Категория: </b>{{ order.category }}<br />
    {% if order.district %}
    <b>Район: </b>{{ order.district }}<br />
    {% endif %}
    {% if order.assigner %}
    <b>Отправитель: </b>{{ order.assigner }}<br />
    {% endif %}
    {% if order.assignee %}
    <b>Исполнитель: </b>{{ order.assignee }}<br />
    {% endif %}
    <b>Описание: </b><br />
    {{ order.description }}<br />
    <h3>Цена: {{ order.cost }} грн.</h3>
</content>
</article>