body {
	background-color: #CCC;
	font-family: "Trebuchet MS";
	color: #000;
}

h1#centered-text {
	margin: 0 0;
	padding: 0 0;
	display: block;
	position: absolute;
	top: 37%;
	left: 35%;
	font-size: 120px;
	font-weight: 100;
	text-shadow: #999 2px 2px;
	color: #AAA;
}